{% extends "base.html" %}
{% block navbar_items %}
<li class="nav-item ">
    <a class="nav-link" href="/sign-up">Sign Up</a>
</li>
<li class="nav-item ">
    <a class="nav-link" href="/sign-in">Sign In</a>
</li>
<li class="nav-item ">
    <a class="nav-link" href="/">Home</a>
</li>
{% endblock %}
{% block title %}
Sign Up Page
{% endblock %}
{% block container%}
<div class="row justify-content-center">
    <div class="col-md-6">
      <h2 class="text-center mt-5">Sign Up</h2>
      <form method="POST">
        <div class="mb-3">
          <label for="name" class="form-label">Full Name</label>
          <input type="text" class="form-control" id="name" name="fullName" required>
        </div>
        <div class="mb-3">
          <label for="username" class="form-label">Username</label>
          <input type="text" class="form-control" id="username" name="username" required>
        </div>
        <div class="mb-3">
          <label for="password" class="form-label">Password</label>
          <input type="password" class="form-control" id="password" name="password" required>
        </div>
        <div class="mb-3">
            <label for="re-password" class="form-label">Repeat Password</label>
            <input type="password" class="form-control" id="re-password" name="passwordConfirm" required>
          </div>
        <div class="mb-3 form-check">
          <input type="checkbox" class="form-check-input" id="terms">
          <label class="form-check-label" for="terms">I agree to the terms and conditions.</label>
        </div>
        <button type="submit" class="btn btn-primary w-100">Sign Up</button>
      </form>
    </div>
  </div>
  {% endblock %}